<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authentication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body class="bg-dark">
<nav class="navbar navbar-dark container-fluid" style="background-color: #000000;">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Authentication</a>
    </div>
</nav>
<main>
    <div class="card text-center mx-auto mt-3" style="width: 18rem;
    background-color: #e9ecef;">
        <div class="card-body p-0">
            <div class="card-header">
                <h5 class="card-title pt-2">Welcome back!</h5>
            </div>
            <div class="card-text p-4">
                Hi <strong><span id="name" th:text="${name}"></span></strong>,<br />
                we're so glad to see you again!
            </div>
            <div class="card-footer">
                <form action="/" method="GET">
                    <button type="submit" class="btn btn-secondary">Logout</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
